<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button style="--color-selected: #F7F0F5" tab="tab1">
      <ion-icon name="game-controller"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button style="--color-selected: #F7F0F5" tab="tab2">
      <ion-icon name="car-sport"></ion-icon>
      <ion-label>Genres</ion-label>
    </ion-tab-button>

    <ion-tab-button style="--color-selected: #F7F0F5" tab="tab3">
      <ion-icon name="logo-playstation"></ion-icon>
      <ion-label>Platforms</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
