<ion-list style="padding: 0px">
  <ion-item *ngFor='let platform of platforms' (click)="verDetalle(platform.id)">
    <ion-label>
      <div style="color: #F7F0F5 !important; display: flex; flex-direction: row;">
        <img class="platform-image" src="{{platform.image_background}}" alt="">
        <div style="display:flex; flex-direction: column; justify-content: center;">
          <h2 style="font-weight: bold; ">{{platform.name}}</h2>
          <p>Games: {{platform.games_count}}</p>
        </div>
      </div>  
    </ion-label>
  </ion-item>
</ion-list>