<ion-list style="padding: 0px">
  <ion-item *ngFor='let genre of genres' (click)="verDetalle(genre.id)">
    <ion-label>
      <div style="color: #F7F0F5 !important; display: flex; flex-direction: row;">
        <img class="genre-image" src="{{genre.image_background}}" alt="">
        <div style="display:flex; flex-direction: column; justify-content: center;">
          <h2 style="font-weight: bold; ">{{genre.name}}</h2>
          <p>Games: {{genre.games_count}}</p>
        </div>
      </div>  
    </ion-label>
  </ion-item>
</ion-list>
