
<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-button style="margin-left: 3%; width: 15%; --background: transparent;" (click)="regresar()">
      <ion-icon style="color: #000000;" size="large" name="return-down-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="width: 90%; margin: 5%; border: solid 5px #F7F0F5;" src="{{game.background_image}}" alt="Imagen de Juego">
  <h1 style="color: #F7F0F5; font-weight: bold; text-align: center; margin-top: 0px; margin-bottom: 0px;">{{game.name}}</h1>
  <h5 style="color: #F7F0F5; text-align: center; margin-top: 0px; margin-bottom: 0px;" >{{game.released}}</h5>
  <div style="color: #ffff00 !important; float: left; margin-right: 10px; font-size: 25px; width: 100%; text-align: center; ">
    <ion-icon name="star" *ngIf="game.rating >= 0.51"></ion-icon>
    <ion-icon name="star" *ngIf="game.rating >= 1.51"></ion-icon>
    <ion-icon name="star" *ngIf="game.rating >= 2.51"></ion-icon>
    <ion-icon name="star" *ngIf="game.rating >= 3.51"></ion-icon>
    <ion-icon name="star" *ngIf="game.rating >= 4.51"></ion-icon>
  </div>
  <p style="color: #F7F0F5; text-align: justify; margin: 5%; font-size: 14px;">{{game.description_raw}}</p>
 
  <p style="color: #F7F0F5; margin-top: 0px; margin-bottom: 0px; margin-left: 3%; font-weight: bold;" >Related Genres</p>
  <div class="scrolling-wrapper">
    <ion-badge class="tag" color="dark" *ngFor="let genre of game.genres">{{genre.name}}</ion-badge>  
  </div>

  <p style="color: #F7F0F5; margin-top: 0px; margin-bottom: 0px; margin-left: 3%; font-weight: bold;" >Related Platforms</p>
  <div class="scrolling-wrapper">
    <ion-badge class="tag" color="dark" *ngFor="let platform of game.parent_platforms">{{platform.platform.name}}</ion-badge>  
  </div>


  <div style="width: 100%; text-align: center; margin-top: 20px; margin-bottom: 40px;">
    <ion-button style="--background: #FF4040; border: solid 2px #000000; border-radius: 5px;" (click)="addFav(game)">
      <ion-label>Add to Favourites</ion-label>
      <ion-icon style="margin-left: 3%; color: #F7F0F5;" size="large" src="../../../assets/heart.svg"></ion-icon>
    </ion-button>
  </div>
</ion-content>

