.scrolling-wrapper {
    margin-left: 3%;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none; 
  
    .tag {
        background: #000;
        --background: #000;
        color: #F7F0F5;
        --color: #F7F0F5;
        margin-left: 3%;
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}