@-webkit-keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes slide-in-fwd-center{0%{-webkit-transform:translateZ(-1400px);transform:translateZ(-1400px);opacity:0}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}};
.container {
    margin-top: 50%;
    -webkit-animation: slide-in-fwd-center 1s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-fwd-center 1s cubic-bezier(.25,.46,.45,.94) both;
    img {
        height: 150px;
    }
}