<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-button style="margin-left: 3%; width: 15%; --background: transparent;" (click)="regresar()">
      <ion-icon style="color: #000000;" size="large" name="return-down-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="width: 90%; margin: 5%; border: solid 5px #F7F0F5;" src="{{genre.image_background}}" alt="">
  <h1 style="color: #F7F0F5; font-weight: bold; text-align: center; margin-top: 0px; margin-bottom: 0px;">{{genre.name}}</h1>
  <h5 style="color: #F7F0F5; text-align: center; margin-top: 0px; margin-bottom: 0px;" >Games: {{genre.games_count}}</h5>
  <p style="color: #F7F0F5; text-align: justify; margin: 5%; font-size: 14px;">{{genre.description}}</p>

  <div style="width: 100%; text-align: center; margin-top: 20px; margin-bottom: 40px;">
    <ion-button style="--background: #FF4040; border: solid 2px #000000; border-radius: 5px;" (click)="favorito()">
      <ion-label>Add to Favourites</ion-label>
      <ion-icon style="margin-left: 3%; color: #F7F0F5;" size="large" src="../../../assets/heart.svg"></ion-icon>
    </ion-button>
  </div>
</ion-content>
