<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-icon style="margin-left: 10%; color: #FF4040;" size="large" src="../../../assets/heart.svg"></ion-icon>
    <ion-label style="width: 65%;float: right;color: white;font-size: 30px;font-weight: bold;">Platforms</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-platforms [platforms]="platforms"></app-platforms>
  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data......">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
