<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-icon style="margin-left: 10%; color: #FF4040;" size="large" src="../../../assets/heart.svg"></ion-icon>
    <ion-label style="width: 65%;float: right;color: white;font-size: 30px;font-weight: bold;">Genres</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-genres [genres]="genres"></app-genres>
</ion-content>