/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html,body,ion-app {
    --ion-background-color: rgb(255,163,9) !important;
    --ion-background-color: linear-gradient(83deg, rgba(255,163,9,1) 0%, rgba(255,111,38,1) 50%, rgba(255,64,64,1) 100%) !important;
    --ion-toolbar-background: linear-gradient(83deg, rgba(255,163,9,1) 0%, rgba(255,111,38,1) 50%, rgba(255,64,64,1) 100%) !important;
}

ion-tab-bar {
    border-top: solid 1px #F7F0F5;
    --background: transparent;
    background-image: rgb(255,163,9) !important;
    background-image: linear-gradient(83deg, rgba(255,163,9,1) 0%, rgba(255,111,38,1) 50%, rgba(255,64,64,1) 100%) !important;
}

ion-item {
    --background: linear-gradient(85deg, rgba(255,64,64,1) 0%, rgba(255,111,38,1) 50%, rgba(255,163,9,1) 100%);
    --ion-background-color: rgb(255,64,64);
    --ion-background-color: linear-gradient(85deg, rgba(255,64,64,1) 0%, rgba(255,111,38,1) 50%, rgba(255,163,9,1) 100%);
}

input {
    background-position: 0px !important;
    border-radius: 15px !important;
}

