<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-icon style="margin-left: 3%; margin-top: 9px; color: #FF4040;" size="large" src="../../../assets/heart.svg" (click)="favourites()"></ion-icon>
    <ion-searchbar id="searchbar" style="width: 87%; float: right; --box-shadow: 0 0; --background: #F7F0F5; " (ionClear)="clear()" (ionFocus)="setFocus()" (ionInput)="getSearchGames($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-games [games]="games"></app-games>
    <ion-infinite-scroll  threshold="25%" position="bottom" (ionInfinite)="searched == true ? blockScroll($event) : loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data......">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
