<ion-list style="padding: 0px">
  <ion-item *ngFor='let game of games'>
    <div class="item" (click)="verDetalle(game.id)">
      <ion-label>
        <div style="color: #F7F0F5 !important;">
          <img class="game-image" src="{{game.background_image}}" alt="">
          <h2 style="font-weight: bold;">{{game.name}}</h2>
          <p>{{game.released}}</p>
        </div>
        <div style="color: #ffff00 !important; float: left; margin-right: 10px; ">
          <ion-icon name="star" *ngIf="game.rating >= 0.51"></ion-icon>
          <ion-icon name="star" *ngIf="game.rating >= 1.51"></ion-icon>
          <ion-icon name="star" *ngIf="game.rating >= 2.51"></ion-icon>
          <ion-icon name="star" *ngIf="game.rating >= 3.51"></ion-icon>
          <ion-icon name="star" *ngIf="game.rating >= 4.51"></ion-icon>
        </div >
        <p style="color: #F7F0F5;">{{game.rating}}</p>
      </ion-label>
    </div>
    <ion-icon  style="position: absolute;right: 35px;bottom: 20px;color: transparent;" size="large" src="../../../assets/heart.svg" (click)="addFav(game)"></ion-icon>
  </ion-item>
</ion-list>