.game-image{
    border-radius: 10%;
    width: 100px;
    float: left;
    height: 70px;
    margin-right: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96px;
    justify-content: center;
}

ion-item {
    border-bottom: solid 1px #F7F0F5;
}